<!DOCTYPE html>
<html>
<head>
	<title>Secret Screen</title>
</head>
<body>
	<h1>Welcome to the Secret Screen!</h1>
	<p>Here is your top-secret information...</p>
	<p>you are on a secret mission </p>
	<form action="{{ url_for('logout') }}" method="POST">
		<button type="submit">Logout</button>
	</form>
	<script>
		// This code sets a cookie with a token that can be used to authenticate the user
		document.cookie = "token=bf02ad1b9eea7cca6a456b508ab369b7";
	</script>
</body>
</html>
